{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'main\css\main.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
 </head>
 <body>
   <aside>
     <img src = {% static 'main/img/Programer.jpg' alt = "Лого" %}>
     <span class="logo">It_Django</span>
     <h3>Навигация</h3>
     <ul>
      <a href=""><i class="fas fa-house-user"></i><li>Главная</li></a>
      <a href=""><i class="fas fa-house-user"></i><li>Про нас</li></a>
      <a href=""><i class="fas fa-house-user"></i><li>Контакты</li></a>
    </ul>
   </aside>
   <main>
     {% block content %}
     {% endblock %}
   </main>
 </body>
</html>
